<div class="modal" *ngIf="modalOpened">
    <div class="overlay" (click)="closeModal()"></div>
    <div class="container modal-content" style="max-width: 1000px;">
        <div class="header-wrapper">
            <h2>Search</h2>
            <label>
                <strong>Current Query:</strong>
                <span class="empty" *ngIf="activeParams.length === 0">Empty</span>
                <span *ngIf="activeParams.length > 0">
                    <ng-container *ngFor="let itemGroup of activeParams">
                        <span class="param-type" *ngFor="let item of itemGroup.items" >
                            <ng-container *ngIf="itemGroup.id === 'categories'"><span>{{item.key}}</span></ng-container>
                            <ng-container *ngIf="itemGroup.id === 'types'"><span>{{item.label}}</span></ng-container>
                            <ng-container *ngIf="itemGroup.id === 'purposes'"><span>{{item.shortLabel}}</span></ng-container>
                        </span>
                    </ng-container>
                </span>
            </label>
        </div>
        <div class="content-wrapper">
            <div class="search-filter-content">
                <div class="radio-container" *ngIf="false">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="currentOption">
                        <mat-radio-button value="1">Search in the list of apps which send data</mat-radio-button>
                        <mat-radio-button value="2">Search in the list of destinations where data is sent
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="input-container" *ngIf="false">
                    <input placeholder="Enter keyword, for e.g. Instagram or Facebook" />
                    <i class="material-icons">search</i>
                </div>
                <div class="tabs-container"> 
                    <!-- <label><strong>Additional Filters</strong></label> -->
                    <div class="tabs-content-wrapper">
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="App Categories">
                                <div class="tab-content">
                                    <div class="tab-content-item" *ngFor="let item of categories">
                                        <mat-checkbox (change)="onQueryChange()" class="example-margin" [(ngModel)]="item.value">{{item.key}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Type of data being sent">
                                <div class="tab-content">
                                    <div class="tab-content-item" *ngFor="let item of dataTypes">
                                        <mat-checkbox (change)="onQueryChange()" class="example-margin" [(ngModel)]="item.value">{{item.label}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Purpose of why the data is being sent">
                                <div class="tab-content">
                                    <div class="tab-content-item w33" *ngFor="let item of dataPurposes">
                                        <mat-checkbox (change)="onQueryChange()" class="example-margin" [(ngModel)]="item.value">{{item.shortLabel}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrapper">
            <div class="footer-wrapper-left">
                <button mat-raised-button color="primary" (click)="search()">Search</button>
                <button mat-raised-button (click)="closeModal()">Cancel</button>
            </div>
            <div class="footer-wrapper-right">
                <button mat-raised-button (click)="clearAllSelections()">Clear</button>
            </div>
        </div>
    </div>
</div>