#graph-container {
  height: 170vh;
}

.g-column {
  margin-top: 10vh;
}

.g-app {
  width: 80px;
  height: 80px;
  background: #50abf1;
  margin: 70px auto;
  color: white;
}

.g-app-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
}

.g-app-icon {
  font-size: 25px;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.g-cloud {
  color: white;
  position: relative;
  text-align: center;
  width: 130px;
  height: 130px;
  margin: 0 auto 30px auto;
  vertical-align: middle;
  font-size: 13px;
  line-height: 14px;
}

.g-data {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: flex-end;
  margin-right: 30px;
}

.g-data-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #eaeaea;
  text-align: center;
  margin-right: 15px;
  position: relative;
}

.g-data-icon i {
  font-size: 25px;
  top: 12px;
  position: relative;
}

.g-data-text {
  display: inline-block;
  font-size: 11px;
  width: 130px;
  margin-left: 15px;
}

.only-show-on-hover {
  visibility: hidden;
  padding: 8px 0;
  text-align: center;
  font-size: 12px;
  z-index: 200;
  width: 100px;
  background: white;
  position: absolute;
  top: -40px;
  box-shadow: 3px 3px 2px 0px rgba(168, 165, 168, 1);
}

.g-data-icon:hover .only-show-on-hover {
  visibility: visible;
  transition: ease 0.2s;
}

.hide {
  display: none;
}
