<div class="faq-wrapper">
    <div class="container">
            <h1>FAQs</h1>
            <div class="faq-questions-wrapper">
                <div class="faq-question">
                    <label class="question">What is Android Network Traces ?</label>
                    <p class="answer">
                        The goal of this web-app is to educate users about what sort of network activity is being carried out by
                        their apps. We present queryable data visualizations of 'where' and 'why' data is being sent.
                    </p>
                </div>
                <div class="faq-question">
                    <label class="question">How did you capture the network activity ?</label>
                    <p class="answer">
                        place holder 
                    </p>
                </div>
                <div class="faq-question">
                    <label class="question">How did you analyze the collected data ?</label>
                    <p class="answer">
                        place holder 
                    </p>
                </div>
                <div class="faq-question">
                    <label class="question">What are the different data types sent by apps ?</label>
                    <p class="answer">
                        place holder 
                    </p>
                </div>
                <div class="faq-question">
                    <label class="question">How often do you refresh the data ?</label>
                    <p class="answer">
                        place holder 
                    </p>
                </div>
                <div class="faq-question">
                    <label class="question">I cannot find an app here. What do I do ?</label>
                    <p class="answer">
                        place holder 
                    </p>
                </div>
                <div class="faq-question">
                    <label class="question">I do not own an android phone. What should I do ?</label>
                    <p class="answer">
                        place holder 
                    </p>
                </div>
            </div>
    </div>
</div>