.faq-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .container {
        padding: 45px 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        h1 {
            margin: 100px 0 0 0;
            color: #555555;
            font-size: 36px;

        }

       .questiontype{
           padding-top: 30px;
        h2 {
            font-size: 26px;
            color:#0047FF;

        }
        
        .question-header{
            padding: 30px 0;
            .dropdown-header{
                color: #434343;
                font-size: 24px;
                background-color: white;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            }
    
            .dropdown-text{
                padding-top: 10px;
                padding-bottom: 5px;
                padding-left: 20px;
                
                color: #555555;
                font-size: 20px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            }
        }
       }

        .faq-questions-wrapper {
            display: flex;
            flex-direction: column;
            width: 80%;
            .faq-question {
                padding: 30px 0;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.075);
                }
                .question {
                    font-size: x-large;
                    margin: 0;
                }
                .answer {
                    font-size: medium;
                    margin: 10px 0 0 0;
                    
                }
            }
        }
    }
}


/deep/ .mat-expansion-indicator::after, .mat-expansion-panel-header-description { color: #0047FF;}
// /deep/ .mat-expansion-panel-body::after, .mat-expansion-panel-body{background-color: yellow;}
/deep/ .mat-expansion-panel-body{
    background-color: rgba(0, 71, 255, 0.05);
}
/deep/ .mat-expansion-indicator{
    color: #0047FF;
}