<div class="faq-wrapper">
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <div class="questiontype">
            <h2>General Information</h2>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        What is Android Network Traces?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        Many smartphone apps collect and send a great deal of data to third-party websites. The goal of
                        this
                        site
                        is to help people better understand Who knows What about us and Why. By Who, we mean these
                        third-party
                        websites. By What, we mean what data they are collecting about us. By Why, we mean the purpose
                        of
                        this
                        data collection, e.g. for advertising, for maps, for backups, and so on.
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        What types of data can I learn about from Android Network Traces?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        What keywords would help me understand Android Network Traces?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>


        </div>

        <div class="questiontype">
            <h2>About the Collected Data</h2>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        How much data was collected?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text " style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        How did you collect data from apps?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        How did you process the collected data for analysis?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        How often do you refresh your data?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>
        </div>

        <div class="questiontype">
            <h2>Data Collection Purposes</h2>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        How did you predict the data-collection purpose?
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="question-container">
                <mat-expansion-panel-header>
                    <mat-panel-title class="dropdown-header">
                        What are examples of the purposes?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="dropdown-text" style="margin-top: 10px; padding-left: 25px;">
                    <p></p>
                    <p>
                        To be added.
                    </p>
                </div>
            </mat-expansion-panel>

        </div>

    </div>
</div>