<div class="home-container">
    <div class="home-header2">
        <div style="padding-top: 130px;"></div>
        <div class="container">
            <div class="up">
                <p><span style="color: #0047FF">Who</span> knows <span style="color: #0047FF">What</span> about us and
                    <span style="color: #0047FF">Why</span>?</p>
            </div>
            <div class="diagram">
                <img src="../../assets/diagram1.png">
            </div>
            <div class="modal-link">
                <a href="">view details</a>
            </div>
            <div class="down">
                <p>Many smartphone apps gather and send of sensitive data to third parties around the Internet. Android
                    users may see notifications of apps trying to access their data daily. However, it's difficult for
                    users to know what kind of data is being collected by those apps, and why the data is being
                    collected.
                    The goal of our website is to educate users about what kind of network activity is being carried out
                    by Android apps.
                    Learn more about this project from our <a
                        href="https://www.synergylabs.org/publications/Jin2018WhyAT/">published paper.</a>
                </p>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
    </div>

    <div class="home-header2">
        <div class="container">
            <h1 style="color: #555555;
                font-size: 36px; font-weight: bold">How We Make This</h1>
            <h2 style="color: #9D9D9D; font-size: 28px; font-style: italic;">Collecting and Analyzing
                Data</h2>

            <div class="down">
                <div class="split" style="padding-top: 115px; display: flex; flex-flow: row;">
                    <div class="img-cont"
                        style="flex: 2; display: flex; flex-direction: column; justify-content: center;">
                        <img style="max-width: 100%;" src="../../assets/AnalyzeData.PNG">
                    </div>
                    <div class="text" style="flex: 3">
                        <p style="color:black; font-size: 16px;">As a team of researchers at Carnegie Mellon
                            University, we collected network traces from thousands of apps, and analyze them into
                            categories
                            of data types. In this website
                            we present data visualizations showing “who” collects our data, “what” data they collected,
                            “where” do they send our data to, and “why” the data is being sent.
                        </p>
                        <p style="color:black; font-size: 16px;">
                            The most common way for smartphone apps to communicate with cloud servers is through HTTP(S)
                            requests. Therefore, we built a custom VPN to intercept these network traces.
                        </p>
                        <p style="color:black; font-size: 16px;">
                            See more details
                        </p>
                    </div>
                </div>
            </div>
            <div class="line">
                <hr>
            </div>
        </div>
    </div>

    <div class="home-header2">
        <div class="container">
            <h1 style="color: #555555;
                font-size: 36px; font-weight: bold">What can you learn about smartphone data?</h1>
            <h2 style="color: #9D9D9D; font-size: 28px; font-style: italic;">Data flow of Top 5 Apps that collect the
                most data</h2>

            <div class="down">

            </div>
        </div>
    </div>

    <div class="home-content">
        <div class="container">
            <div class="results-wrapper">


                <app-cloud-animation></app-cloud-animation>
            </div>
            <div class="results-wrapper">
                <div class="top-queries-wrapper">
                    <label style="text-align: center;font-size: x-large;">Top Queries</label>
                    <div class="top-queries-holder">
                        <a (click)="openLink(item)" *ngFor="let item of queries">{{item.label}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-header">
        <div class="container" style="padding-bottom: 60px;">
            <div class="search-wrapper">
                <button [routerLink]="['/results']" mat-raised-button>See data shared by all apps</button>
            </div>
        </div>
    </div>
</div>