@import "../../variables";
@import "../../shared";

.home-container {
  h1 {
    font-size: 2.3em;
    font-weight: 600;
  }

  .header-accent {
    color: rgba($accent, 1);
  }

  .home-description-container {
    width: 80vw;
    margin: 50px auto 0 auto;

    p {
      width: 80%;
      margin: 30px 0 50px 0;
    }
  }

  .top-queries-wrapper {
    width: 80vw;
    margin: auto;
    height: 200px;

    .top-queries-holder {
      display: flex;
      flex-flow: row wrap;
      margin: 30px 0;

      a {
        cursor: pointer;
        font-size: 1.1em;
        padding: 5px 15px;
        margin: 5px 25px 5px 0;
        text-decoration: none;
        color: rgba($color: #444, $alpha: 0.75);

        line-height: 48px;
        // background: rgba(#000, 0.05);

        background: white;
        box-shadow: 0 0 3px 3px rgba(#000, 0.2);
        @include focus-states();
        &:hover {
          background: rgba(#000, 0.1);
        }
      }
    }
  }

  .home-header3 {
    position: relative;
    height: 500px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../../assets/phone1.svg");
    margin: 100px auto;

    .header-front-right {
      position: absolute;
      top: 25%;
      right: 10%;
      width: 35vw;

      p {
        font-size: 1.1em;
        margin: 30px auto;
        font-weight: 400;
      }
    }
    button {
      margin-top: 30px;
      border: none;
      background: rgba($accent, 1);
      color: white;
      padding: 8px 15px;
    }
  }

  .home-header2 {
    color: rgba($color: #fff, $alpha: 0.8);
    position: relative;
    height: 800px;

    background-position: right top;
    background-repeat: no-repeat;
    background-image: url("../../assets/phone3.svg");

    .header-front-left {
      color: black;
      position: absolute;
      top: 30%;
      left: 10%;

      p {
        width: 50%;
        float: left;
        font-size: 1.1em;
        margin: 30px auto;
        font-weight: 400;
      }

      button {
        margin-top: 30px;
        border: none;
        background: rgba($accent, 1);
        color: white;
        padding: 8px 15px;
      }
    }
  }

  .home-header {
    background: rgba($accent, 0.1);
    color: rgba($color: #fff, $alpha: 0.75);
    position: relative;
    .search-wrapper {
      button {
        line-height: 48px;
        height: 48px;
      }
    }

    .overlay {
      background-color: rgba(#000, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      overflow: hidden;

      &:before {
        content: "";
        background-image: url("../../assets/telephone.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 110%;
        height: 110%;
        position: absolute;
        top: -5%;
        left: -5%;
        z-index: 1;
        filter: blur(10px);
      }

      &:after {
        content: "";
        background-color: rgba(#000, 0.2);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    .container {
      position: relative;
      padding: 60px 0 45px 0;
      z-index: 3;

      h1 {
        margin: 90px 0 30px 0;
        text-align: center;
        color: rgba($color: #fff, $alpha: 1);
        font-weight: 400;
        text-shadow: 0px 0px 5px rgba(#000, 0.25);
      }

      p {
        text-align: center;
        margin-top: 30px;

        strong {
          color: rgba($color: #fff, $alpha: 1);
        }
      }
    }

    .btn-container {
      margin: 45px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        line-height: 48px;
        height: 48px;
      }
    }
  }

  .home-content {
    .container {
      padding: 60px 0;
    }

    .process-bubbles-holder {
      .process-bubbles-wrapper {
        display: flex;
        margin: 0 -30px;
        margin-top: 15px;
        .process-bubble {
          flex: 1;
          width: 33%;
          padding: 0 30px;
          display: flex;
          flex-direction: column;
          .process-num {
            background: #f6f6f6;
            line-height: 36px;
            text-align: center;
            height: 36px;
            margin-bottom: 15px;
            order: 1;
            letter-spacing: 1px;
            word-spacing: 5px;
            width: 100px;
            font-size: small;
            color: rgba(#000, 0.5);
          }
          .process-img {
            width: 75%;
            order: 3;
            img {
              max-width: 100%;
            }
          }
          .process-text {
            order: 2;
            margin: 0px 0 15px 0;
            p {
              font-size: medium;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
