<div class="home-container">
  <div class="home-header2">
    <div class="header-front-left">
      <h1>
        <span class="header-accent">Who</span> knows
        <span class="header-accent">What</span> about us<br />and
        <span class="header-accent">Why?</span>
      </h1>
      <p>
        Many smartphone apps gather and send lots of sensitive data to various
        third parties around the Internet. <br />
        However, it’s hard to know exactly what apps are sending out what data
        and why.
        <button [routerLink]="['/results']">
          Where does my data go?
        </button>
      </p>
    </div>

    <!-- <div class="container">
      <div class="up">
        <p>Analysing data shared by Android Apps</p>
      </div>
      <div class="down">
        <strong>who</strong> . <strong>what</strong> . <strong>where</strong> .
        <strong>why</strong>
      </div>
      <div class="btn-container">
        <button [routerLink]="['/results']" mat-raised-button>
          See data shared by all apps
        </button>
      </div>
    </div> -->
  </div>
  <!-- header 2 -->
  <div class="home-header3">
    <div class="header-front-right">
      <h1>Collecting Data</h1>
      <p>
        As a team of researchers at Carnegie Mellon University, we collected
        network traces from thousands of apps, and analyzed them into categories
        of data types.
        <br />
        In this website we present data visualizations showing ‘who’ collects
        our data, ‘what’ data they collect, 'where' do they send our data to,
        and 'why' the data is being sent.
        <button [routerLink]="['/faq']">
          Learn more about what data we collected and how
        </button>
      </p>
    </div>
  </div>
  <!-- header 3 -->

  <div class="top-queries-wrapper">
    <h1>Top Queries</h1>
    <div class="top-queries-holder">
      <a (click)="openLink(item)" *ngFor="let item of queries">{{
        item.label
      }}</a>
    </div>
  </div>

  <div class="home-description-container" id="data-viz">
    <h1>Where does my data go?</h1>
    <p>
      There are ﬁve data types that apps collect from us, they are device,
      network, general ID, account, & location data. In this visualization we
      show which of the ﬁve data types apps collect the most. Click on an app to
      see where they send the data to, and click on a cloud to expand its
      information.
    </p>
  </div>
  <!-- <app-terms></app-terms> -->
  <app-home-graph ng-show="windowLoaded"></app-home-graph>

  <div class="home-content" *ngIf="showOriginal">
    <div class="container p-0">
      <div class="results-wrapper">
        <div class="top-queries-wrapper">
          <h1>Top Queries</h1>
          <div class="top-queries-holder">
            <a (click)="openLink(item)" *ngFor="let item of queries">{{
              item.label
            }}</a>
          </div>
        </div>
      </div>
      <div class="results-wrapper">
        <label style="margin-bottom: 45px;"
          >Let's look at some popular apps and what data they send to where and
          why</label
        >
        <div class="results-container">
          <div
            class="results-container-item"
            *ngFor="let group of rowGroups; let i = index"
          >
            <div class="results-container-item-content">
              <table>
                <tbody>
                  <ng-container *ngFor="let row of group.rows; let j = index">
                    <tr>
                      <td class="logo">
                        <img [attr.src]="row.icon" />
                      </td>
                      <td
                        class="who actionable"
                        [routerLink]="['/results/who/' + row.app]"
                      >
                        <div class="result-item-value">
                          <span>{{ row.title }}</span> sends
                        </div>
                      </td>
                      <td
                        class="what actionable"
                        [routerLink]="['/results']"
                        [queryParams]="{ types: [row.type] }"
                        [matTooltip]="row.typeInfo?.description"
                        matTooltipPosition="above"
                        matTooltipClass="phone-data-tooltip"
                      >
                        <div class="result-item-value">
                          <i [ngClass]="row.typeInfo.icon"></i
                          ><span>{{ row.typeInfo?.label }} data</span>
                        </div>
                      </td>
                      <td
                        class="where actionable"
                        [routerLink]="['/results/where/' + row.host]"
                      >
                        <div class="result-item-value">
                          <span>to {{ row.host }}</span>
                        </div>
                      </td>
                      <td
                        class="why actionable"
                        [routerLink]="['/results']"
                        [queryParams]="{ purposes: [row.purpose] }"
                      >
                        <div class="result-item-value">
                          <span>{{ row.purposeInfo?.label }}</span>
                          <span *ngIf="false"
                            ><br /><span class="uncommon-tag"
                              >UNCOMMON</span
                            ></span
                          >
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="results-wrapper" *ngIf="false">
        <label>How we analyzed the apps ?</label>
        <ul class="process-steps">
          <li
            [attr.data-index]="i + 1"
            *ngFor="let item of itemsThree; let i = index"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </li>
        </ul>
      </div>
      <div class="results-wrapper">
        <div class="process-bubbles-holder">
          <label>Our Process </label>
          <div class="process-bubbles-wrapper">
            <div class="process-bubble">
              <div class="process-num">STEP 1</div>
              <div class="process-img">
                <img src="../../assets/collect.svg" />
              </div>
              <div class="process-text">
                <p>
                  We collated network activity for 16000+ android apps from
                  across all regions
                </p>
              </div>
            </div>
            <div class="process-bubble">
              <div class="process-num">STEP 2</div>
              <div class="process-img">
                <img src="../../assets/analyze.svg" />
              </div>
              <div class="process-text">
                <p>
                  We analyzed the data to look for patterns and similarities
                  based on a rich taxonomy
                </p>
              </div>
            </div>
            <div class="process-bubble">
              <div class="process-num">STEP 3</div>
              <div class="process-img">
                <img src="../../assets/present.svg" />
              </div>
              <div class="process-text">
                <p>
                  We built a web app to help you visulize where do the apps send
                  data and why.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-header" *ngIf="showOriginal">
    <div class="container" style="padding-bottom: 60px;">
      <div class="search-wrapper">
        <button [routerLink]="['/results']" mat-raised-button>
          See data shared by all apps
        </button>
      </div>
    </div>
  </div>
  <!-- <app-viz></app-viz> -->
</div>
