<div class="container term-container">
  <div class="term-row row term-row-table">
    <div class="term-box">
      <h3><i class="fas fa-mobile-alt"></i>Device Data</h3>
      <p>Phone model screen, size, manufacturer info</p>
    </div>
    <div class="term-box">
      <h3><i class="fas fa-globe"></i>General ID Data</h3>
      <p>
        Mac address, IMEI (International Mobile Equipment Identity) number helps
        to differentiate each device from one another.
      </p>
    </div>
    <div class="term-box">
      <h3><i class="fas fa-signal"></i>Network Data</h3>
      <p>Network connectivity details such as WIFI, LTE, 4G, 3G</p>
    </div>
    <div class="term-box">
      <h3><i class="far fa-user"></i>Account Data</h3>
      <p>Settings for tasks such as syncing data from different services</p>
    </div>
    <div class="term-box">
      <h3><i class="fas fa-map-marker-alt"></i>Location Data</h3>
      <p>Location related GPS data from the phone plus other Geospatial data</p>
    </div>
  </div>
</div>
