.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .8);
        z-index: 2;
        animation: fade-in 0.350s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0s;
        cursor: pointer;
    }
    .modal-content {
        position: relative;
        z-index: 3;
        padding: 0;
        background: #fff;
        border-radius: 0;
        max-width: 800px;
        font-size: 14px;
        padding: 0;
        animation: slide-in-from-top 0.350s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 forwards;
        .header-wrapper {
            padding: 30px 30px 0 30px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
            margin-bottom: 15px;
            background-color: rgba(0, 0, 0, 0.030);
            h2 {
                margin-bottom: 30px;
            }
            label {
                strong {
                    color: #707070;
                    margin-right: 15px;
                }
                span {
                    &.empty {
                        font-style: italic;
                        opacity: 0.50;
                    }
                    &.param-type {
                        padding: 0 8px 0px 8px;
                        background: rgba(0, 0, 0, 0.050);
                        margin: 0px 5px 5px 0;
                        display: inline-block;
                        position: relative;
                        line-height: 30px;
                        // @include focus-states();
                        // &:after {
                        //     content: 'x';
                        //     right: 0;
                        //     top: 0;
                        //     line-height: 30px;
                        //     width: 28px;
                        //     opacity: 0.50;
                        //     text-align: center;
                        //     position: absolute;
                        // }
                        // &:hover {
                        //     background: rgba(0, 0, 0, 0.080);
                        // }
                    }
                }
            }
        }
        .content-wrapper {
            padding: 0 30px;
        }
        .footer-wrapper {
            padding: 15px 30px;
            display: flex;
            flex-flow: row;
            background-color: rgba(0, 0, 0, 0.030);
            .footer-wrapper-left {
                flex: 1;
                button {
                    margin-right: 15px;
                }
            }
            .footer-wrapper-right{
                flex: initial;
            }
        }
    }
}