.app-container {
    width:100%;
    position: relative;
    .loader {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 999;
    }
    .app-header-wrapper {
        width: 100%;
        position: fixed;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 2
    }
    .app-content-wrapper {
        order: 2;
        position: relative;
        z-index: 1;
    }
}