$accent: #049cdb;
$chart-bg: #f1f8ff;

@mixin mat-icon-defintion() {
    &:after {
        font-family: 'Material Icons Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
}

@mixin include-actionable($alpha) {
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.2s ease 0s;

    &:focus,
    &:hover {
        background-color: rgba(0, 0, 0, $alpha);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-from-top {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide-in-from-right {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}